<!DOCTYPE html>

<html>
  <head>
    <title>Pokedex</title>
  </head>

  <body>
    <form method = "POST" action = "/search">
      <select name="method">
	<option value="evo">evolutions</option>
	<option value="name">name</option>
	<option value="type">attribute</option>
	<option value="id">id</option>
      </select>
      search:<input type="text" name="search">
      <input type="submit" value="Submit">
      <br>
      {{pokemon}}
      <br>
      <img src={{img}}>
      <br>
      weight: {{weight}}
      <br>
      height: {{height}}
      <br>
      evolution:{{evolution}}
    </form>
  </body>
</html>
